h1{
 font-family:Arial, Helvetica,; 
 font-size: 50px;
color:rgb(255, 255, 255);margin-left: 450px;}

h2{
    font-family: Arial, Helvetica,;
    font-size: 20px;
    color: cornsilk; margin-left: 380px;
}

h4 {color: rgb(255, 255, 255); 
margin-left: 300px;}

body { background-image: url(../img/estrelas.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;

}
p{
    color: aliceblue;
    margin-left: 300px; 
    margin-right: 300px; }